<style>
  .error {
        color: red;
        margin-bottom: 0;
    }

    .valid {
        color: green;
    }
</style>

<section class="d-flex justify-content-center ">
  <div class=" container row  d-flex justify-content-center mt-5">
    <div class="ml-5 col-md-6">
      <center><img src="/img/suii logo.png" alt=""></center>
      <h2 class="text-center my-5 ">Add Category</h2>
      <form class="d-flex aling-item-center flex-column" action="/admin/add-category" method="post" id="category-form" name="category-form">
        <input id="categoryInput" type="text" name="category" class="form-control mb-3" placeholder="Category Name"
          required>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</section>


<script>
  $(document).ready(function () {
    $("#category-form").validate({
      rules: {
        category: {
          required: true,
        },
      }
    });
  })
</script>